.app-footer {
  background: url("../assets/ft_background_image.png") center no-repeat;
  background-size: cover;
  padding: 60px 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 285px;
}

.footer-content {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.footer-column {
  flex: 1 1 30%;
  display: flex;
  flex-direction: column;
}

.footer-left {
  justify-content: flex-start;
}

.footer-center {
  justify-content: center;
  align-items: center;
}

.footer-right {
  justify-content: flex-end;
}

.footer-column img {
  width: 60%;
  height: auto;
  max-width: 300px;
  display: block;
  margin: 0 auto;
}

.footer-center p {
  margin: 10px 0;
  font-size: 1rem;
}

.credits {
  margin-top: 20px;
  font-size: 0.8rem;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
  }

  .footer-column {
    flex: none;
    width: 70%;
  }
}
