.landing-container {
  display: flex;
  flex-direction: column;
  font-family: 'Comic Sans MS', sans-serif;
}

.welcome-section {
  background-color: #d0b3ff;
  margin-top: 10px;
  padding: 50px 20px;
}

.login-section {
  background-color: #fde5d2;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 50px 20px;
}

.about-section {
  background-color: #6f9eb1;
  margin-bottom: 10px;
  padding: 50px 20px;
}

.two-column {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 900px;
  margin: 0 auto;
  gap: 40px;
}

.reverse-layout {
  flex-direction: row-reverse;
}

.text-column {
  flex: 1;
}

.image-column {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-column h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.text-column p {
  font-size: 1.1rem;
  margin-bottom: 20px;
  line-height: 1.4;
}

.clickable-image {
  cursor: pointer;
  width: 400px;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.clickable-image:hover {
  transform: scale(1.05);
}

.about-image {
  width: 300px;
  border: 3px solid black;
  background: #e5e5e5;
  box-shadow: 0 12px 26px rgba(0, 0, 0, 10);
  height: auto;
  border-radius: 10px;
}

.cta-button {
  background-color: #e5e5e5;
  color: #262626;
  border: 3px solid #262626;
  padding: 12px 25px;
  font-size: 1rem;
  font-family: 'Comic Sans MS', sans-serif;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.cta-button:hover {
  background-color: #bebdbd;
}

.back-to-top {
  background-color: #e5e5e5;
  color: #262626;
  border: 3px solid #262626;
  padding: 12px 25px;
  font-size: 1rem;
  font-family: 'Comic Sans MS', sans-serif;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.back-to-top:hover {
  background-color: #bebdbd;
}

@media (max-width: 768px) {
  .two-column {
    flex-direction: column;
    gap: 20px;
  }
  .text-column, .image-column {
    text-align: center;
  }
  .text-column h1 {
    font-size: 1.6rem;
  }
  .text-column p {
    font-size: 1rem;
  }
  .clickable-image, .about-image {
    width: 80%;
    max-width: 300px;
    margin: 0 auto;
  }
}
